* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 105px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    width: 100%;
    background-image: url("images/matrixImage.png");
    background-size: cover;
}

header {
    grid-area: header;
}

nav {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

#intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#intro img {
    width: 33%;
}

#intro div {
    background-color: lightgreen;
    padding: 10px;
    opacity: 0.9;
    height: 30%;
}

#intro div img {
    width: 30px;
    height: 30px;
}

#socials {
    display: flex;
    justify-content: space-around;
}

#about {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    margin: 50px 0;
}

#about a{
    width: 35%;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid green;
    background-color: lightgreen;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

#about a:hover{
    background-color: lightgreen;
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about img {
    width: 100%;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    background-color: lightgreen;
    box-sizing: border-box;
}

@media screen and (max-width: 820px) {
#intro {
    flex-direction: column;
    gap: 20px;
}
#intro img {
    width: 80%;
}
#about {
    flex-direction: column;
    gap: 40px;
    width: 85%;
    margin: 0 auto;
}

div.projects {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#about img {
    width: 80%;
}

#about a{
    width: 100%;
}
}