* {
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    grid-area: main;
}

#intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

#intro div {
    width: auto;
}

#about {
    margin: 50px 0 50px 0;
}

.projects img{
    width: 100%;
}

#profilePic {
    width: 25%;
    height: auto;
}

#socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    width: 30px;
    height: 30px;
}

#matrixImage {
    width: 25%;
    height: auto;
}

#about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    
}